name: Build image
run-name: Build image
on: 
  workflow_dispatch:
  branches:
  - '**'
  schedule:
  - cron: '30 13 * * FRI'    # Triggers Fri at 13:30


jobs:
  io-image:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Podman login
      env:
        REGISTRY_USERNAME: ${{ secrets.REGISTRY_USER }}
        REGISTRY_PASSWORD: ${{ secrets.REGISTRY_PASS }}
        REGISTRY_URL: docker.piaseczny.dev
      run: |
          echo "$REGISTRY_PASSWORD" | podman login "$REGISTRY_URL" \
            --username "$REGISTRY_USERNAME" \
            --password-stdin

    - name: Build image
      run: podman build -t "$REGISTRY_URL/tygrys20:latest" .

    - name: Push image
      run: podman push -t "$REGISTRY_URL/tygrys20:latest"
